*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: quicksand, sans-serif;
    line-height: 1.6;
    background-color: #FFFFFF;
    color: #333;
}

h1 ,h2, h3, h4, h5, h6 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

/* Navigation Bar */
.navbar {
    background-color: #080808;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
























/*Main Content Start*/

.main-content {
    
    margin: 0 auto;


}
.main-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;

}

/* main content end */

/*New arrivals section*/
.new-arrivals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}


/*bnb para section start*/

.heading {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
    text-align: start;
    padding: 0 0px 0px 50px;
    
}
.bnb-para p {
    font-size: 0.75em;
    margin-bottom: 20px;
    text-align: start;
    padding: 0 0px 0px 50px;
    color: black;

}
.bnb-para {
    max-width: 1400px;
    /* margin: 20px auto; */
    background-color: #FFFFFF;
    padding: 20px;
}
/*bnb para section end*/



/*best-selling section*/
.best-selling img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 18px;
    display: block;
    margin: 0 auto;
}



/* Recommended by Celebrities*/

.celebrity-endorsements {
    background-color: #FFFFFF;
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    max-width: 1400px;
    display: flex;
}
.celebrity  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;

}
.celebrity video {
    width: 260px;
    height: 450px;
    /* object-fit: cover; */
    border-radius: 18px;
    display: block;
}


/* Recommended by Celebrities end*/


/* FAQs*/



.faqs input {
     align-items: center;
     display: block;
}
.faqs p{
    margin-bottom: 10px;
    text-align: start;
    padding: 0 0px 0px 70px;
    font-size: 0.75em;
    color: #87878F;
 }
.divin {
    background-color: blueviolet;
    padding: 10px 10px  ;
    margin: 0px 60px 0px 60px;
    color: black ;
    display: flex;
   
}
.divin p{
    color: black ;
    text-align: start;
    display: contents;
}

.corner{
    background-color: #080808;
    width: 40px ;
    height: 40px;
 
    
}
.corner p {
    color: #fff;
    

}


/*featured-in section*/

.featured-in {
    background-color: #FFFFFF;
    text-align: center;
}

.marquee-container {
    /* padding: 10px; */
    text-align: center;
    overflow: hidden;
    

}
.marquee-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}


.marquee-container img {
    width: 140px;   
    height: 80px;   
    object-fit: contain; 
    margin: 0 20px;
    display: inline-block;
    vertical-align: middle;
}



/* Shop Section */

.shop-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
}

.shop-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;

}
.shop {
    flex: 1 1 calc(33.333% - 20px);
   
}
.shop img {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/*follow us section*/

.follow-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: #FFFFFF;
}

.follow-us img {
    width: 16%;
    height: 59%px;
}

.instagram-feed {
      flex-wrap: wrap;
      display:inline-block;
}

.instagram-feed img {
    display: inline-block;
}


